<section class="pronunciation content_box">
	<hgroup>
		<h2>Pronunciation guide</h2>
		<h3 class="subhead">For the weird Swedish letters.</h3>
	</hgroup>
	<div>
		<article class="three-col">
			<h3 lang="sv">Å</h3>
			<p class="description">The first of the three Swedish characters. You’ll find the sound just before the L in words that contain AL, like: all, alter and Aldershot. Try saying ALL, but skip out the L’s. It should sound something like a mix of A and O, and it should come from the back of your mouth.</p>
		</article>
		<article class="three-col">
			<h3 lang="sv">Ä</h3>
			<p class="description"><span lang="sv">Ä</span> is a rare sound in the British language. But if you try on an American accent and let out a fully fledge ass (or asshole), cut away everything after the A you’ll have the hang of it. It should sound something like a mix of A and E. Just as <span lang="sv">Å</span> you’ll find the sound near your throat rather than the tip of your tongue.</p>
		</article>
		<article class="three-col">
			<h3 lang="sv">Ö</h3>
			<p class="description"><span lang="sv">Ö</span> is the same letter as the Norwegian and Danish <span lang="da">Ø</span>. If you, once again, try that American accent you can hear the sound in words like: skirt, flirt, nerd, turd and bird. It’s the sound just between the U/I and the R.</p>
		</article>
	</div>
</section>