html {
  	background: #fff no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	font: normal 1.1em/1.6 sans-serif;
	color: #fff;
	position: relative;
	margin: 0 auto;
	height: 100%;
	max-width: 1000px;
	min-height: 1160px;
}

h1 { font-size: 2.4em; line-height: 1; margin: 0; }
h2 { font-size: 1.5em; line-height: 1; margin: 0 0 10px; }
p { margin: 0; }
a { color: #fff; 
	text-decoration: none; 
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
a:focus, a:hover { color: #FFD900; }

.content { 
	position: relative;
}

.content_box {
	margin: 0 100px;
	background: rgba(0, 0, 0, .8);
	padding: 5% 12%;
	text-align: center;
	border-radius: 10px;	
}

	.swedish {
		font-size: 5em;
		margin-bottom: 30px;
	}

	.pron {
		color: rgb(182, 181, 181);
		font-style: italic;
		margin-bottom: 30px;
	}

	.english { 
		font-size: 1.8em; 
		margin-bottom: 10px; 
	}

	.description {
		color: rgb(182, 181, 181);
		font-style: italic;
		margin-bottom: 30px;
	}

		.description_group>h2 {
			font-size: 1.1em;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

			.sentence {
				font-style: normal;
				margin-bottom: 15px;
			}


.pronunciation {
	padding: 5% 40px 2%;
	margin-top: 50px;
}
	.pronunciation div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		
		.pronunciation hgroup {
			margin-bottom: 30px;
		}

			.pronunciation>h2 {
				font-size: 0.9em;
				text-transform: uppercase;
			}

			.pronunciation h3 {
				font-size: 0.8em;
				margin: 0;
				font-style: italic;
				color: rgb(182, 181, 181);
			}

			.pronunciation p {
				width: 30%;
				float: left;
				margin-right: 5%;
				text-align: left;
			}

				.pronunciation p:last-child {
					margin-right: 0;
				}

			.letter {
				display: block;
				font-size: 1.8em;
				font-style: normal;
				color: #fff;
				text-align: center;
			}



#page_header.content_box {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 50px;
}

#page_footer.content_box {
	display: none;
/*	position: absolute;
	margin-top: 50px;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;*/
}

	#page_footer p { 
		font-size: 0.8em;
	}


.navigation a {
	display: table-cell;
	background: rgba(0, 0, 0, .8);
	border-radius: 150px;
	text-align: center;
	vertical-align: middle;
	height: 150px;
	width: 140px;
	padding: 0 5px;
	font-size: 1.2em;
	line-height: 1.1;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

.navigation a:focus, .navigation a:hover {
	color: #fff;
	background: rgba(69, 69, 69, .9);
}

.next, .prev {
	position: absolute;
	top: 320px;
}

.prev {
	left: -15%;
}

.next {
	right: -15%;
}
/*
.pro_tips {
	background: #fff;
	border-radius: 11px;
	width: 23px;
	height: 22px;
	position: absolute;
	top: 19px;
	right: 25px;
	color: #000;
	padding-top: 1px;
}

#pro_tips_box {
	background: rgba(225, 225, 225, .9);
	color: #3D3D3D;
	text-align: left;
	position: absolute;
	padding: 3% 4%;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 250px;
	border-radius: 0;
	opacity: 0;
	-webkit-transition: opacity border-radius 0.5s;
	-webkit-transition: border-radius 0.8s;
	transition: opacity 0.5s;
	transition: border-radius 0.8s;
}
.pro_tips:hover {
	color: #000;
}

.pro_tips:hover + #pro_tips_box {
	opacity : 1;
	border-radius: 20px 0;
}
*/

.pron-wrapper {
	position: relative;
}

#player {
	border: 0;
	background: #fff url(../images/play.png) no-repeat 3px -1px;
	width: 23px;
	height: 22px;
	border-radius: 11px;
/*	position: absolute;
	top: 0px;
	right: -15px;
*/	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

	#player.playing {
		background-position: 2px -26px;
	}

#audio {
	position: absolute;
	top: 19px;
	right: 8%;
}


@media screen and (max-width: 1360px) {   /* Styles for tablet */
.next { right: -10%; }
.prev { left: -10%; }


@media screen and (max-width: 989px) {   /* Styles for tablet */

body { font-size: 85%; min-height: 940px; }
h1 { font-size: 200%; }
.swedish { font-size: 450%;  }

.navigation { position: relative; margin: 30px 100px; }
.navigation a { width: 110px; height: 120px; }
.next { right: 18%; top: 0; }
.prev { left: 18%; top: 0; }


.pro_tips { padding-top: 2px; }
}


@media screen and (max-width : 550px) { /* Styles for mobile */

body { min-height: 900px; }
body, footer .content_box {  }
.content_box { padding-top: 10%; margin: 0 20px; }

h1 { font-size: 150%; }
.swedish { font-size: 280%; margin-bottom: 15px; }
.english { font-size: 160%; margin-bottom: 25px; }
.description { margin-bottom: 15px; }
.content_box { background: rgba(0, 0, 0, 0.9); }
#page_header.content_box { padding-top: 5%; }

.navigation { margin: 20px 30px; }
.navigation a { margin-top: 40%; font-size: 1.2em; }
.next { right: 5%; }
.prev { left: 5%; }


header .content_box { margin-bottom: 15px; }
footer .content_box, header .content_box { padding-top: 5%; }

}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
}