<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="At Ordoftheday you'll learn how to pronounce, spell and use a new Swedish word every day.">

  <title>Swedish &ndash; one word at the time: {{ page.title }}</title>

  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/fonts.css" />

  <style>
    body { font-family: {{ page.font }}; }
    html { background-image: url(/assets/images/{{ page.background }}); }
  </style>

  <link href="assets/favicon.ico" rel="shortcut icon">
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon">

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/app.js"></script>

  <!-- Typekit -->  
  <script type="text/javascript" src="//use.typekit.net/{{ page.typekit }}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
  
</head>

<body class="{{ page.font }}">

<header id="page_header" class="content_box">
  <h1>Today’s word is:</h1>
</header>

{{ content }}

<footer id="page_footer" class="content_box">
  <section>
    <h2>About this site</h2>
    <p>This is a site for me to play around and explore code and at the same time give my co-workers at <a href="http://kyan.com">Kyan</a> some Swedish words to add to their vocabulary. This site is created just for fun by <a href="http://twitter.com/msgunnarsson">@MsGunnarsson</a>.</p>
  </section>  
</footer>

<!-- Google Analytics -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39491039-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</body>

</html>