<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="At Ordoftheday you'll learn how to pronounce, spell and use a new Swedish word every day.">

  <title>Swedish &ndash; one word at the time: {{ page.title }}</title>

  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/fonts.css" />

  <style>
    body { font-family: {{ page.font }}; }
    html { background-image: url(/assets/images/{{ page.background }}); }
  </style>

  <link rel="shortcut icon" href="assets/favicon.ico" >
  <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72px.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114px.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144px.png">
  
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/app.js"></script>

  <!-- Typekit -->  
  <script type="text/javascript" src="//use.typekit.net/{{ page.typekit }}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
  
</head>

<body class="{{ page.font }}">

<header id="page_header" class="content_box">
  <h1>Today’s word is:</h1>
</header>

{{ content }}

<!-- Twitter box -->
<div class="tweet-this">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn Swedish – one word at the time" data-via="MsGunnarsson" data-size="large" data-related="MsGunnarsson" data-count="none">Tweet</a>
    
    <script>
      !function(d,s,id) {
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
        }}
          (document, 'script', 'twitter-wjs');
    </script>
</div>

<!-- Google Analytics -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39491039-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</body>

</html>