<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script type="text/javascript" src="//use.typekit.net/{{ page.typekit }}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="assets/css/style.css" />
  <style>
    body { font-family: {{ page.font }}; }
  </style>
  <link href="assets/favicon.ico" rel="shortcut icon">
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon">

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/app.js"></script>
  
  <title>Swedish &ndash; one word at the time: {{ page.title }}</title>
  
</head>

<body>

<header id="page_header" class="content_box">
  <h1>Today’s word is:</h1>
</header>

{{ content }}

{% include nav.html %}



<footer id="page_footer" class="content_box">
  <section>
    <h2>About this site</h2>
    <p>This is a site for me to play around and explore code and at the same time give my co-workers at <a href="http://kyan.com">Kyan</a> some Swedish words to add to their vocabulary. This site is created just for fun by <a href="http://twitter.com/msgunnarsson">@MsGunnarsson</a>.</p>
  </section>  
</footer>
</body>

</html>